body {
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    height: 100vh;
}

.nav {
    display: flex;
    background: #1F2937;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 200px;
    margin-bottom: 16px;
    text-align: left;
    
}

.links {
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 200px;
    text-align: right;
    
}

a {
    padding: 8px;
    color: #E5E7EB;
    font-weight: lighter;
    font-size: 18px;
    text-decoration: none;
}

.header {
    display: flex;
    background: #1f2937;
    flex-direction: row;
    justify-content: space-between;
    
}

p,
.heading {
    font-size: 48px;
    color: #F9FAF8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 200px;
    justify-content: center;
}

img,
.heading {
    width: 400px;
    height; 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;

}

p,
.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.strap{
    display: flex;
    flex-direction: column;

}

button {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    padding: 16px 16px;
    border-radius: 8px;
    width: 120px;
    margin-left: 200px;
    margin-bottom: 50px;
}